<% javascript_include_tag 'game_methods' %>
<div style="width: 100px; margin:0 auto;">
	<button onclick="intialize_game()" id='start_game' class="myButton myButton:hover myButton:active"> START </button>
	<p id="p1" style="color:red;"/>
	<p id="p2" style="color:#00FF00";/>
	<p id="player"/>
</div>

<div class="tableContainer-1" id="board" hidden>
	<div class="tableContainer">
		<table style="margin: 0 auto">
			<tr>
				<td><button id="b1" onclick="put_move(this.id)" class="btn_attributes">DROP</button></td>
				<td><button id="b2" onclick="put_move(this.id)" class="btn_attributes">DROP</button></td>
				<td><button id="b3" onclick="put_move(this.id)" class="btn_attributes">DROP</button></td>
				<td><button id="b4" onclick="put_move(this.id)" class="btn_attributes">DROP</button></td>
				<td><button id="b5" onclick="put_move(this.id)" class="btn_attributes">DROP</button></td>
				<td><button id="b6" onclick="put_move(this.id)" class="btn_attributes">DROP</button></td>
				<td><button id="b7" onclick="put_move(this.id)" class="btn_attributes">DROP</button></td>
			</tr>
		</table>
		<table style="margin: 0 auto">
			<tr id="row6">
				<%= render "tds.html"%>
			</tr>
			<tr id="row5">
				<%= render "tds.html"%>
			</tr>
			<tr id="row4">
				<%= render "tds.html"%>
			</tr>
			<tr id="row3">
				<%= render "tds.html"%>
			</tr>
			<tr id="row2">
				<%= render "tds.html"%>
			</tr>
			<tr id="row1">
				<%= render "tds.html"%>
			</tr>
		</table>
	</div>
</div>